<% include ../partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">Muokkaa <%= place.title %></div>
    <form class="ui form" action="/paikat/<%= place._id %>?_method=PUT" method="POST">
        <div class="field">
            <label>Paikan nimi</label>
            <input type="text" name="place[title]" value="<%= place.title%>">
        </div>
        <div class="field">
            <label>Kuva</label>
            <input type="text" name="place[image]" value="<%= place.image%>">
        </div>
        <div class="field">
            <label>Hinta</label>
            <% if(place.price === "ilmainen") { %>
                <input type="checkbox" name="place[price]" checked value="ilmainen"> ilmainen
            <%}  else {%>
                <input type="checkbox" name="place[price]" value="ilmainen"> ilmainen
            <% } %>   
            
            <% if(place.price === "maksullinen") { %>
                <input type="checkbox" name="place[price]" checked value="maksullinen"> maksullinen
            <%}  else { %>
                <input type="checkbox" name="place[price]" value="maksullinen"> maksullinen
            <% } %> 
        </div>
        <div class="field">
            <div class="inline fields">
                <label>Ikähaitari</label>
        
                <% if(place.age == "alle kouluikäinen") { %>
                    <input type="checkbox" name="place[age]" checked value="alle kouluikäinen"> <span>Alle kouluikäinen</span>
                <%}  else {%>
                    <input type="checkbox" name="place[age]" value="alle kouluikäinen"> <span> Alle kouluikäinen</span>
                <% } %> 


                <% if(place.age === "kouluikäinen") { %>
                    <input type="checkbox" name="place[age]" checked value="kouluikäinen"> <span> Kouluikäinen</span> 
                <%}  else {%>  
                    <input type="checkbox" name="place[age]" value="kouluikäinen"> <span> Kouluikäinen</span>  
                <% } %> 

                <% if(place.age === "nuoriso") { %>    
                    <input type="checkbox" name="place[age]" checked value="nuoriso"> <span> Nuoriso</span> 
                <%}  else {%>  
                    <input type="checkbox" name="place[age]"  value="nuoriso"> <span> Nuoriso</span>
                <% } %> 

                <% if(place.age === "kaikki") { %>
                    <input type="checkbox" name="place[age]" checked value="kaikki"> <span> Kaikki</span> 
                <%}  else {%> 
                    <input type="checkbox" name="place[age]"  value="kaikki"> <span> Kaikki</span>
                <% } %> 
            </div>
        </div>

        <div class="field">
            <label>Kaupunki</label>
            <input type="text" name="place[city]" value="<%= place.city%>">
        </div>
        <div class="field">
            <label>Osoite</label>
            <input type="text" name="place[address]" value="<%= place.address%>">
        </div>
        <div class="field">
            <label>Kategoria</label>
            <select name="place[category]" >
               
                <option value="">Valitse kategoria</option>

                <% if(place.category === "Leikkipuisto") { %>
                    <option selected>Leikkipuisto</option>
                <%}  else {%>
                    <option>Leikkipuisto</option>
                <% } %> 
                
                <% if(place.category === "Uimaranta") { %>
                    <option selected >Uimaranta</option>
                <%}  else {%>
                    <option>Uimaranta</option>
                <% } %> 
                
                <% if(place.category === "Kulttuuri") { %>
                    <option selected>Kulttuuri</option>
                <%}  else {%>
                    <option>Kulttuuri</option>    
                <% } %> 
                
                <% if(place.category === "Puisto") { %>
                    <option selected>Puisto</option>
                <%}  else {%>
                    <option>Puisto</option>
                <% } %> 
                
                <% if(place.category == "Sisäaktiviteetti") { %>
                    <option selected>Sisäaktiviteetti</option>
                <%}  else {%>
                    <option>Sisäaktiviteetti</option>        
                <% } %> 
                
                <% if(place.category === "Ulkoaktiviteetti") { %>
                    <option selected>Ulkoaktiviteetti</option>
                <%}  else {%>
                    <option>Ulkoaktiviteetti</option>
                <% } %> 
                
                <% if(place.category === "Eläimet") { %>
                    <option selected>Eläimet</option>
                <%}  else {%>
                    <option>Eläimet</option>
                <% } %> 
               
                <% if(place.category ===  "Tapahtuma") { %>
                    <option selected>Tapahtuma</option>
                <%}  else {%>
                    <option>Tapahtuma</option>
                <% } %> 
                
                <% if(place.category === "Muu") { %>
                    <option selected">Muu</option>
                <%}  else {%>
                    <option>Muu</option>
                <% } %> 
                
            </select>
        </div>      
        <div class="field">
            <label>Maa</label>
            <input type="text" name="place[country]" value="<%= place.country%>">
        </div>
        <div class="field">
            <label>Kuvaus</label>
            <textarea name="place[description]" ><%= place.description %></textarea> 
        </div>
        <input type="submit" class="ui orange  basic button" value="Tallenna">
    </form>

</div>

<% include ../partials/footer %>