<% include ../partials/header %>

<div class="ui main text container segment">
    <div class="ui huge centered header">
        <div ><%= place.title %> </div>
        <div id="showpage_category">
            <i class="cube icon"></i>
            <%= place.category %>
        </div>
        
        
    </div>
    <div class="ui top attached">
        <div class="item">
            <img id="show-img" class="ui centered rounded image" src="<%= place.image %>">
            <div class="content">
                <div class="meta showpage">
                    <span>
                        <i class="calendar alternate outline icon"></i>
                        <%= place.published.toDateString() %>
                    </span>
                    <span>
                        <i class="thumbtack icon"></i>
                        <%= place.city %>, <%= place.country %>
                    </span>
                    <span>
                        <i class="child icon"></i>
                        <%= place.age %>
                    </span>
                    <span>
                        <i class="user icon"></i>
                        <%= place.author.username %>
                    </span>
                </div>
      
            </div>
        </div>  
    </div>       
    <div class="ui attached">
            <p><%= place.description %></p>
         
            <% if(currentUser && place.author.id.equals(currentUser._id)) { %>
            <a class="ui teal basic button" href="/paikat/<%= place._id %>/muokkaa"><i class="pencil alternate icon"></i>Muokkaa</a>
            <form id="delete" action="/paikat/<%= place._id %>?_method=DELETE" method="POST">
                <button class="ui red basic button"><i class="trash alternate icon"></i>Poista</button>
            </form>
            <% } %>
    </div>        
    <hr>     
    <div class="ui bottom attached segment">
        <div class="ui feed">
            <a class="ui teal basic button right floated" href="/paikat/<%= place._id %>/kommentit/uusi"><i class="plus icon"></i>Lisää uusi kommentti</a>
            <% place.comments.forEach(function(comment){ %>
                <div class="event">
                    <div class="content">
                    <div class="summary">
                        <a class="user"> 
                        <%= comment.author.username   %>
                        </a> lisäsi kommentin
                        <div class="date">
                        1 tunti sitten
                        </div>
                       
                    </div>
                    <p> <%= comment.text %> </p>
                    <div class="meta">
                        <a class="like">
                        <i class="like icon"></i> 4
                        </a>
                        <a class="ui teal basic button" 
                           href="/paikat/<%= place._id %>/kommentit/<%= comment._id  %>/muokkaa">
                           <i class="pencil alternate icon"></i>Muokkaa
                        </a>
                        <form id="delete" action="/paikat/<%= place._id %>/kommentit/<%= comment._id  %>?_method=DELETE" method="POST">
                            <input type="submit" class="ui red basic button" value="Poista">
                        </form>
                    </div>
                    </div>
                </div>
                <% }); %>
        </div>    
    </div>

       
</div>

<% include ../partials/footer %>    